
  <div class="container">
    <br/>
    <h1><%=@currUserDisplay.split.last%>'s Profile</h1>
  </div>
  
<div class="container">
<% if !flash.empty? %>
  <div id="errorExplanation">
    <h1><%= pluralize(flash.count, "error") %> prohibited login:</h1>
    <ul>
    <% flash.each do |name, msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
</div>
<div class="users">
  <div class="container">
    <% if !@isLoggedIn %>
      <table class="userTable" style="width:100%">
        <thead>
										<tr>
											<th>ID</th>
											<th>Name</th>
											<th>Username</th>
											<th>Email</th>
											<th>Address</th>
											<th>isDriver</th>
											<th>Date Created</th>
										</tr>
									</thead>
        <% @users.each do |user| %>
              <tr>
                <td class="userID"><%= user.id %></td>
                <td class="name"><%= user.name %></td>
                <td class="username"><%= user.username %></td>
                <td class="email"><%= user.email %></td>
                <td class="address"><%= user.address %></td>
                <td class="isDriver"><%= user.isDriver %></td>
                <td class="time"><%= user.created_at.strftime("%I:%M %p on %m/%d/%Y") %></td>
              </tr>
        <% end %>
        
        </table>
        <%= link_to "New User", "users/new",{ :class=>"button special"} %>
      <% else %>
      <% if not User.find(session[:user_id]).isDriver%>
        <%= image_tag "https://graph.facebook.com/v2.5/#{session[:user_uid]}/picture?type=large", :class => "circle" %><br/>
  		<%else%>
  		  <i class="icon fa-car">
  		<%end%>
      	<table class="order" style="width:100%">
      	    <div class = "container">
              <h1>Completed Orders</h1>
            </div>
            <thead>
      					<tr>
      						<th>ID</th>
      						<th>Time of Delivery</th>
      					  <th>Location</th>
      						<th>Name</th>
      						<th>Restaurant</th>
      						<th>Order Info</th>
      			  		<th>Date Created</th>
      						<th>Status</th>
      					</tr>
      			</thead>
      				
      		  <% @orders.each do |order| %>
              <% if (order.createdByID == session[:user_id] || session[:user_id] == -1) && order.isDone %>
                <tr class=<%=
                    if order.isDone && order.acceptedByID == -99
                      "canceledOrderRow"
                    elsif order.isDone  
                      "finishedOrderRow"
                    elsif order.acceptedByID > 0 
                      "acceptedOrderRow"
                    else
                      "pendingOrderRow"
                    end%>>
                      <td class="orderID"><%= order.id %></td>
                      <td class="deliveryTime"><%= order.time %></td>
                      <td class="location"><%= order.location %></td>
                      <td class="name"><%= order.name %></td>
                      <td class="restaurantName"><%= order.restaurant %></td>
                      <td class="orderContents"><%= order.content %></td>
                      <td class="creationTime"><%= order.created_at.strftime("%I:%M %p on %m/%d/%Y") %></td>
                      
                      <% if order.isDone && order.acceptedByID == -99 %>
                        <td class="canceledOrderColumn">Canceled</td>
                      <% elsif order.isDone %>
                        <td class="finishedOrderColumn">Completed</td>
                      <% elsif order.acceptedByID > 0 %>
                        <td class="acceptedOrderColumn">Accepted</td>
                      <% else %>
                        <td class="pendingOrderColumn">Pending</td>
                      <% end %>
                </tr>
              <% end %>
            <% end %>
          </div>
        </table>
  <% end %>
  </div>
</div>

