
  <div class="container">
    <br/>
    <h1>Users</h1>
  </div>


<div class="create">
  <div class="container">
    <%= form_for(@user) do |f| %>
    	<div class="field">
            <%= f.label :user, "Create a New User" %>
            Full Name:
            <%= f.text_field :name %>
            Username:
            <%= f.text_field :username %>
            Email:
            <%= f.text_field :email %>
            Address:
            <%= f.text_field :address %>
            Customer or Driver?:
            <div class="select-wrapper">
            <%= f.select :isDriver, [['Customer', false], ['Driver', true]] %>
            </div>
    	</div>
    	<br>
    	<div class="actions">
    	  <%= f.submit "Create" %>
    	</div>
    <% end %>
  </div>
</div>


