
  <div class="container">
    <br/>
    <h1>Users</h1>
  </div>


<div class="container">
<% if @user.errors.any? %>
  <div id="errorExplanation">
    <h1><%= pluralize(@user.errors.count, "error") %> prohibited this user from being created:</h1>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>


<div class="create">
  <div class="container">
    <%= form_for(@user) do |f| %>
    	<div class="field">
            <%= f.label :user, "Become a Driver" %>
            Full Name:
            <%= f.text_field :name %> <br/>
            Username:
            <%= f.text_field :username %> <br/>
            Email:
            <%= f.text_field :email %> <br/>
            Address:
            <%= f.text_field :address %> <br/>
    	</div>
    	<br/>
    	<div class="actions">
    	  <%= f.submit "Create" %>
    	</div>
    <% end %>
  </div>
</div>


