  <div class="orders">
    <div class="container">
    <br/>
    <h1>Accepted Orders</h1>
  </div>
  
  <div class="container">
  <% if !flash.empty? %>
    <div id="errorExplanation">
      <h1><%= pluralize(flash.count, "error") %> prohibited acceptance:</h1>
      <ul>
      <% flash.each do |name, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </div>  
  
    <div class="container">
      <%= form_tag(controller: 'drivers_page', action: 'finishOrders') do %>
      <table class="order" style="width:100%">
        <thead>
										<tr>
										  <th>Done</th>
											<th>ID</th>
											<th>Time of Delivery</th>
											<th>Location</th>
											<th>Name</th>
											<th>Restaurant</th>
											<th>Order Info</th>
											<th>Accepted By</th>
										</tr>
									</thead>
        <% @orders.each do |order| %>
            <% if (order.acceptedByID == Rails.application.config.currUserID && order.isDone == false) || Rails.application.config.currUserID == -1 %>
              <tr>
                <td><%= check_box_tag "doneOrders[#{order.id}]_", order.id %><%= label("doneOrders[#{order.id}]", nil)%></td>
                <td class="orderid"><%= order.id %></td>
                <td class="delivery_time"><%= order.time %></td>
                <td class="location"><%= order.location %></td>
                <td class="name"><%= order.name %></td>
                <td class="restaurantName"><%= order.restaurant %></td>
                <td class="ordercontents"><%= order.content %></td>
                <td class="acceptedByID"><%= order.acceptedByID %></td>
              </tr>
            <% end %>  
        <% end %>
      </table>
    <%= submit_tag "Mark Selected As Done", class: "button special" %>
    <%= link_to "Accept More Orders", "/drivers",{ :class=>"button special"} %>
    <% end %>
  </div>
</div>
