
			
  <div class="container">
    <br/>
    <h1>Orders</h1>
  </div>

<div class="orders">
  <div class="container">
      <table class="order" style="width:100%">
        <thead>
										<tr>
										    <th>Accept</th>
											<th>ID</th>
											<th>Description</th>
											<th>Date Created</th>
											<th>Accepted By</th>
										</tr>
									</thead>
        <% @orders.each do |order| %>
            <tr>
                <td><%= check_box_tag "selectedOrders[#{order.id}]_", order.id %><%= label("selectedOrders[#{order.id}]", nil)%></td>
                <td class="orderid"><%= order.id %></td>
                <td class="content"><%= order.content %></td>
                <td class="time"><%= order.created_at %></td>
                <td><%= order.acceptedByID %></td>
            </tr>
        <% end %>
      </table>
    <%= link_to "Accept Selected Orders", "orders/",{ :class=>"button special"} %>
  </div>
  
</div>

