<!DOCTYPE html>
<html>
	<body>
		<style>
		.circle{
			width:100px;


			height:100px;
			border-radius:50% 50% 50% 50%;  
			border: 2px solid #ffffff;
			margin-left: auto;
			margin-right: auto;
		}
		.h2{
			margin-left: auto;
			margin-right: autoS;
		}
		.actions {
			margin-left: auto;
			margin-right: auto;
		}
		</style>
	</body>
</html>
<html>
	<head>
	  <title>Expresso - Coffee Delivery</title>
	  <link rel="shortcut icon" href ="icon fa-coffee" >
	  <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1" />
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="/">Home</a></h1>
				<% if @isLoggedIn %>
						<%= @currUserDisplay %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<% end %>
				<a href="#nav">Menu</a>
			</header>

			<nav id="nav">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<% if not @isLoggedIn %>
					<li><a href="/login">Login</a></li>
					<% else %>
					<li><a href="/logout">logout</a></li>
					<li><a href="/orders">Orders</a></li>
					<li><a href="/users">Profile</a></li>
						<% if @isLoggedIn && User.find(session[:user_id]).isDriver %>
							<li><a href="/drivers">Drivers</a></li>
						<% end %>
					<% end %>
				</ul>
			</nav>

		<!-- Banner -->
		
			<section id="banner">
        		
				<% if not @isLoggedIn %>
					<i class="icon fa-coffee"></i>
				<% elsif User.find(session[:user_id]).isDriver %>
					<i class="icon fa-car"></i>
				<% else %>
					<%= image_tag "https://graph.facebook.com/v2.5/#{session[:user_uid]}/picture?type=large", :class => "circle" %>
				<% end %>
				<h2>Expresso</h2>
				<% if not @isLoggedIn %>
					<p>Coffee is always a good idea</p>
				<%elsif  User.find(session[:user_id]).isDriver%>
					<p>Coffee is always a good idea</p>
				<% else %>
					<p>Hey <%=@currUserDisplay.split.last%>, need some Coffee?</p>
				<% end %>
				<ul class="actions">
				<% if not @isLoggedIn %>
					<li><a href="/auth/facebook" class="button big">Login</a></li>
				<% elsif not User.find(session[:user_id]).isDriver%>
					<li><a href="/orders" class="button big">Order Now</a></li>
				<% else %>
					<li><a href = "/drivers" class = "button big" > Make Delivery</a></li>
				<% end %>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src="https://i.gyazo.com/52215e50b2d02fa786b05b35bbcbdf35.jpg" alt="" /></span>
						<div class="content">
							<h2>Starbucks Coffee</h2>
							<p>Starbucks, the most popular coffee shop in the world, aims to inspire and nurture the human spirit – one person, one cup and one neighborhood at a time.</p>
							<ul class="actions">
								<li>
									<a href="http://www.starbucks.com/menu" target="_blank" class="button alt">Starbucks Menu</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="https://i.gyazo.com/63a1df799e8f7dca60caf36bc7bb8355.jpg" alt="" /></span>
						<div class="content">
							<h2>Village Coffee</h2>
							<p>Village Coffee is a casual corner cafe on Freret street which serves espresso drinks and baked goods plus a menu of sandwiches and wraps</p>
							<ul class="actions">
								<li>
									<a href="http://www.villagecoffeenola.com/our-coffee-menu/" target="_blank" class="button alt">Village Menu</a>
								</li>
							</ul>
						</div>
					</article>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper special">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src="https://i.gyazo.com/10764e11ecced412a40abc7c4c36d182.png" alt="" /></span>
						<div class="content">
							<h2>Addiction Coffee House</h2>
							<p>Proudly serving beans and teas sourced by New Orleans-based small batch roaster French Truck Coffee and hand-crafted pastries by Master Pastry Chef Ziggy Cichowski of New Orleans' Maple Street Patisserie.</p>
							<ul class="actions">
								<li>
									<a href="http://www.addictioncoffeehouse.com/thegoods/" target="_blank" class="button alt">Addiction Menu</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="http://blog.krrb.com/wp-content/uploads/2013/07/cafe-du-monde-beignets.jpg" alt="" /></span>
						<div class="content">
							<h2>Cafe Du Monde</h2>
							<p>Cafe Du Monde is world famous for its cafe' au lait and beignets. French for "Café of the World", it is a coffee shop on Decatur Street in the French Quarter.</p>
							<ul class="actions">
								<li>
									<a href="http://www.viewmenu.com/cafe-du-monde-21/" target="_blank" class="button alt">Cafe Du Monde Menu</a>
								</li>
							</ul>
						</div>
					</article>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major narrow	">
						<h2>Testimonials</h2>
						<p id="studioGreetings">Greetings from Neil!<br/>Guten Tag from Wilson!<br/>Hello from Sarah!<br/>Hola from Peter!</p>
					</header>
					<ul class="actions">
						<li><a href="#" class="button big alt">See More</a></li>
					</ul>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style2 special">
				<div class="inner">
					<header class="major narrow">
						<h2>Get in touch</h2>
						<p>If you'd like to leave some feedback, voice a concern, or even tell us a joke, simply fill out the form below! We love to hear from you!</p>
					</header>
					<form action="#" method="POST">
						<div class="container 75%">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text" />
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email" />
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" class="special" value="Submit" /></li>
							<li><input type="reset" class="alt" value="Reset" /></li>
						</ul>
					</form>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Expresso</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>


<%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'skel.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'util', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'main', 'data-turbolinks-track' => true %>

</body>
</html>
