  <div class="container">
    <br/>
    <h1>Orders</h1>
  </div>

<div class="orders">
  <div class="container">
      <table class="order" style="width:100%">
        <thead>
										<tr>
											<th>ID</th>
											<th>Time of Delivery</th>
											<th>Location</th>
											<th>Name</th>
											<th>Restaurant</th>
											<th>Order Info</th>
											<th>Date Created</th>
											<th>Created By</th>
										</tr>
									</thead>
        <% @orders.each do |order| %>
            <% if order.createdByID == Rails.application.config.currUserID || Rails.application.config.currUserID = -1 %>
              <tr>
                <td class="orderID"><%= order.id %></td>
                <td class="deliveryTime"><%= order.time %></td>
                <td class="location"><%= order.location %></td>
                <td class="name"><%= order.name %></td>
                <td class="restaurantName"><%= order.restaurant %></td>
                <td class="orderContents"><%= order.content %></td>
                <td class="creationTime"><%= order.created_at.strftime("%I:%M %p on %m/%d/%Y") %></td>
                <td class="createdByID"><%= order.createdByID %></td>
              </tr>
            <% end %>  
        <% end %>
      </table>
    <%= link_to "New Order", "orders/new",{ :class=>"button special"} %>
  </div>
</div>

