
  <div class="container">
    <br/>
    <h1>Orders</h1>
  </div>

<div class="create">
  <div class="container">
    <%= form_for(@order) do |f| %>
    	<div class="field">
              <%= f.label :order, "Create a New Order" %>
              Orderer Name:
              <%= f.text_field :name %><br/>
              Location of Pickup:
              <%= f.text_field :location %><br/>
              Time of Pickup:
              <%= f.text_field :time %><br/>
              Restaurant
              <div class="select-wrapper">
                <%= f.select :restaurant, [['Starbucks', 'http://www.starbucks.com/menu'], ['PJs Coffee', 'http://www.pjscoffee.com/beverages.php'], ['Cafe Du Monde', 'http://www.cafedumonde.com/coffee']] %>
              </div><br/> 
              Food and Drink:
              <%= f.text_area :content %>
              <br/>
    	</div>
    	<div class="actions">
    	  <input type="button" value="Go to Selected Menu" onclick="window.open(order_restaurant.options[order_restaurant.selectedIndex].value)">
    	  <%= f.submit "Create Order" %>
    	</div>
    <% end %>
  </div>
</div>
