
  <div class="container">
    <br/>
    <h1>Orders</h1>
  </div>
  
<div class="container">
<% if @order.errors.any? %>
  <div id="errorExplanation">
    <h1><%= pluralize(@order.errors.count, "error") %> prohibited this order from being created:</h1>
    <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
</div>

<div class="create">
  <div class="container">
    <%= form_for(@order) do |f| %>
    	<div class="field">
              <%= f.label :order, "Create a New Order" %>
              Orderer Name:
              <%= f.text_field :name %><br/>
              Location of Pickup:
              <%= f.text_field :location %><br/>
              Time of Pickup:
              <%= f.text_field :time %><br>
              Restaurant
              <div class="select-wrapper">
                <%= f.select :restaurant, [['Starbucks', 'http://www.starbucks.com/menu'], ['PJs Coffee', 'http://www.pjscoffee.com/beverages.php'], ['Cafe Du Monde', 'http://www.cafedumonde.com/coffee']] %>
              </div><br/> 
              Food and Drink:
              <%= f.text_area :content %>
              Price:
              <%= f.text_field :price, :onkeyup => "sync(this)" %><br>
              <br/>
      <script type="text/javascript">
      function sync(textbox)
      {
      var script = $('#stripe-script')[0];
      script.dataset.amount = textbox.value*100;
      }
      </script>
    	</div>
    	<div class="actions">
    	  <input type="button" value="Go to Selected Menu" onclick="window.open(order_restaurant.options[order_restaurant.selectedIndex].value)">
    	  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" 
    	    id="stripe-script"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Your Expresso Order"
          data-amount="500"
          data-locale="auto"></script>
    	</div>
    <% end %>
  </div>
</div>
