
  <div class="container">
    <br/>
    <h1>Orders</h1>
  </div>

<div class="create">
  <div class="container">
    <%= form_for(@order) do |f| %>
    	<div class="field">
              <%= f.label :order, "Create a New Order" %><br/>
              Orderer Name:
              <%= f.text_field :name %>
              Location of Pickup:
              <%= f.text_field :location %>
              Time of Pickup:
              <%= f.text_field :time %>
              Food and Drink:
              <%= f.text_area :content %>
              <br/>
              <p align="left">
                <b>Click Here for Menus</b>
                  <select id="setit" style="color: #000000" size="1" name="test">
                    <option value=""></option>
                    <option value="http://www.starbucks.com/menu">Starbucks</option>
                    <option value="http://www.pjscoffee.com/beverages.php">Pj's Coffee</option>
                    <option value="http://www.cafedumonde.com/coffee">Cafe Du Monde</option>
                    </select>
                    <br/>
                    <br/>
                  <input type="button" value="Go to Menu" onclick="window.open(setit.options[setit.selectedIndex].value)">
              </p>
              
    	</div>
    	<br>
    	<div class="actions">
    	  <%= f.submit "Create" %>
    	</div>
    <% end %>
  </div>
</div>
