<div class="container">
    <br/>
    <h1>Login</h1>
</div>

<div class="container">
<% if !flash.empty? %>
  <div id="errorExplanation">
    <h1><%= pluralize(flash.count, "error") %> prohibited login:</h1>
    <ul>
    <% flash.each do |name, msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
</div>

<div class="login">
  <div class="container">
    <%= form_tag(controller: 'login', action: 'setCurrUserID') do %>
        <%= label_tag :newCurrUserID, "Current Username: " + User.find(Rails.application.config.currUserID).username %>
        Username:
        <%= text_field_tag :newCurrUserID %> <br/>
        <%= submit_tag "Login", class: "button special" %>
        <%= link_to "Register", "users/new",{ :class=>"button special"} %>
    <% end %>
  </div>
</div>

