<!DOCTYPE html>
<html>
<head>
  <title>Expresso - Coffee Delivery</title>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<header id="header">
				<h1><a href="/">Expresso</a></h1>
				Hello, User #<%= Rails.application.config.currUserID %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="#nav">Menu</a>
			</header>

			<nav id="nav">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="/orders">Orders</a></li>
					<li><a href="/users">Users</a></li>
					<li><a href="/drivers">Drivers</a></li>
				</ul>
			</nav>

<%= yield %>

<%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'skel.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'util', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'main', 'data-turbolinks-track' => true %>

</body>
</html>

